<footer>
<p class="motto" lang="la" title="{{ .Site.Params.motto_en }}"><svg class="estoile" viewBox="0 0 24 24" aria-hidden="true"><path d="M12.0 1.0Q12 12 21.5 6.5Q12 12 21.5 17.5Q12 12 12.0 23.0Q12 12 2.5 17.5Q12 12 2.5 6.5Q12 12 12.0 1.0Z"/></svg>{{ .Site.Params.motto }}</p>
<span>{{ .Site.Params.author }} &nbsp;·&nbsp; <a href="{{ "support/" | relURL }}">support</a></span>
<span><a href="https://{{ .Site.Params.domain }}/code/">code</a> &nbsp;·&nbsp; <a href="https://{{ .Site.Params.domain }}/keys">keys</a> &nbsp;·&nbsp; <a href="https://{{ .Site.Params.domain }}/llms.txt">llms.txt</a> &nbsp;·&nbsp; <a href="{{ "posts/index.xml" | relURL }}">rss</a></span>
<span>No scripts. No trackers. Two fonts.</span>
</footer>
