{{ with .Site.Params.social }}
<ul>
  {{ range sort . "weight" }}
    {{ if .icon }}
      <li>
        <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .type }}type="{{ .type }}"{{ end }}>
          {{ if .src  -}}
          <img src="{{ .src }}" class="custom-icon "/>
          {{ else if .svg  -}}
          <div class="custom-icon" style="display: inline-block;">{{ readFile .svg | safeHTML }}</div>
          {{- else -}}
          <i class="{{ .icon }}" aria-hidden="true"></i>
          {{- end }}
        </a>
      </li>
    {{ else }}
      <li>
        <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }}>{{ .name }}</a>
      </li>
    {{ end }}
  {{ end }}
</ul>
{{ end }}
